###############
# audio files #
###############

aud/*


###############
# image files #
###############

img/*



##############
# LOTM files #
##############

sub/LOTM/*


##################
# Test Directory #
##################

test/*